In [15]:
import pandas as pd
import numpy as np


df = pd.read_csv("mercedesbenz.csv", usecols=['X1','X2'])
df.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [16]:
df.shape

(4209, 2)

In [17]:
#One hot encoding
pd.get_dummies(df).shape

(4209, 72)

In [18]:
#Count/Frequency Encoding
len(df['X1'].unique())

27

In [19]:
len(df['X2'].unique())

45

In [20]:
for col in df.columns[0:]:
    print (col,":", len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels

In [21]:
#let's obtain the counts for each of the labels in variable X2
#Let's capture this in a dictionary that we can to remap the labels

df.X2.value_counts().to_dict()

{'as': 1658,
 'ae': 478,
 'ai': 462,
 'm': 348,
 'ak': 260,
 'r': 155,
 'n': 113,
 's': 100,
 'f': 85,
 'e': 84,
 'ay': 78,
 'aq': 72,
 'a': 44,
 'b': 38,
 'k': 25,
 't': 25,
 'ag': 23,
 'ac': 20,
 'ao': 19,
 'i': 15,
 'z': 12,
 'ap': 11,
 'p': 10,
 'aw': 9,
 'd': 6,
 'h': 6,
 'q': 5,
 'au': 5,
 'g': 5,
 'ad': 4,
 'ab': 4,
 'af': 4,
 'al': 4,
 'at': 3,
 'am': 3,
 'w': 3,
 'ah': 3,
 'x': 2,
 'j': 2,
 'av': 1,
 'aj': 1,
 'u': 1,
 'y': 1,
 'an': 1,
 'ax': 1}

In [22]:
df_frequency_map = df.X2.value_counts().to_dict()
#now we replace X2 labels in the dataset df
df.X2 = df.X2.map(df_frequency_map)
df.head()

  X1    X2
0  v   113
1  b   462
2  v  1658
3  l   113
4  s  1658